################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/AlDS.vcxproj.user
/AlDS.vcxproj.filters
/AlDS.vcxproj
/AlDS.sln
/x64/Debug
/.vs/AlDS/v17
